<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="push" fixedInViewport="true" fixedTopGap="56">
    <div class="nav">
      <ul>
          <!--li><a href="https://sunderapps.square.site/" target="_blank">Store</a></li-->
          <li routerLink="/web-dev/" routerLinkActive="active">Web Dev</li>
          <li routerLink="/apps/" routerLinkActive="active">Apps</li>
          <li routerLink="/visualizers/" routerLinkActive="active">Visualizers</li>
          <li><a href="mailto:sam@sunderapps.com">Contact</a></li>
          <!--li routerLink="/contribute/" routerLinkActive="active">Contribute</li-->
          <li>
              <div class="social">
                  <a href="https://www.youtube.com/channel/UCThq5LcMaofJqx0emzWMLgA" target="_blank"><i class="fab fa-youtube"></i></a>
                  <a href="https://www.instagram.com/sunderapps/" target="_blank"><i class="fab fa-instagram"></i></a>
                  <a href="https://www.facebook.com/sunderapps" target="_blank"><i class="fab fa-facebook"></i></a>
                  <a href="https://twitter.com/sunderapps" target="_blank"><i class="fab fa-twitter"></i></a>
              </div>
          </li>
      </ul>
    </div>
    <div class="footer">
      <p>&copy;{{ this.year }} | SunderApps</p>
      <p><mat-icon matTooltip="Developed">code</mat-icon> with <mat-icon matTooltip="caffeine">local_cafe</mat-icon> by <a matTooltip="Sunder Apps" href="https://www.sunderapps.com" target="_blank"><img src="https://static-ux.s3.us-east-2.amazonaws.com/sunderapps/logos/sunder-logo-white-square.png" /></a></p>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <main [@routeAnimations]="outlet?.activatedRouteData?.animation">
      <router-outlet #outlet="outlet"></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>

<mat-toolbar color="primary">
  <h1 (click)="sidenav.toggle()"><button><span></span>under Apps</button></h1>
</mat-toolbar>
