<h2>Command Line Reference</h2>
<ul>
    <li>
        <a href="https://git-scm.com/doc" target="_blank">git</a>
        <ul>
            <li><a href="https://git-scm.com/docs/git-switch" target="_blank">New branch: git switch -c feature/[branch] -m</a></li>
        </ul>
    </li>
    <li>
        <a href="https://cli.github.com/manual/" target="_blank">github</a>
        <ul>
            <li><a href="https://cli.github.com/manual/gh_repo_clone" target="_blank">Clone repo: gh repo clone [user]/[repo]</a></li>
        </ul>
    </li>
    <li>
        <a href="https://docs.npmjs.com/cli-documentation/" target="_blank">npm</a>
        <ul>
            <li><a href="https://docs.npmjs.com/cli/v8/commands/npm-version" target="_blank">Publish/Commit: npm version [major|minor|patch] --force -m "%s - [message]"</a></li>
        </ul>
    </li>
</ul>
